
<div class="container py-5">

  <form class="example-form" [formGroup]="userForm">
     
      <div class="address-container" *ngFor="let group of addressArray.controls; let i = index;" formArrayName="address">
        <div class="form-group jumbotron col-8"  [formGroupName]='i'>
             <h3 style="text-align: center;">Add And Remove</h3>

          <input class="form-control mb-3" placeholder="Street" value="" formControlName="street"> 
          <input class="form-control mb-3" placeholder="City" value="" formControlName="city">
          <input class="form-control mb-3" placeholder="State" value="" formControlName="state">
         <button *ngIf="i>0" class="btn btn-danger float-end mb-3" (click)="removeAddress(i)"><i class="fa fa-minus" aria-hidden="true"></i>
         </button>
        
        </div>
      </div>
      <div class="form-row org-desc-parent-margin">
        <button class="btn btn-primary" (click)="addAddress()"><i class="fa fa-plus"></i></button>
       
      </div>
  </form>
  </div>