
<div class="padding">
    <p>All personal Accounts</p>
</div>
<div class="card bg-info-subtle R">
    <div class="card-body">
        <p class="card-text">Checking Account - 1234</p>
        <span class="float">$20,000</span>
      </div>
  </div>
<div class="card bg-info-subtle R ">
    <div class="card-body">
        <p class="card-text">Savings account - 4567</p>
        <span class="float">$1000</span>
      </div>
  </div>
<div class="card bg-info-subtle R">
    <div class="card-body">
        <p class="card-text">Credit Card 1 - 8910</p>
        <span class="float">$5300</span>
      </div>
  </div>
<div class="card bg-info-subtle R">
    <div class="card-body">
        <p class="card-text">Credit Card 2 - 8910</p>
        <span class="float">$5300</span>
      </div>
  </div>

  <section class="side">
    <div class="row row-cols-1 row-cols">
        <div class="card bg-info-subtle" style="max-width: 10rem;">
            <div class="card-body text-primary">
              <h6 class="card-title">Open a new account</h6>
            </div>
          </div>
        <div class="card bg-info-subtle " style="max-width: 10rem;">
            <div class="card-body text-primary">
              <h6 class="card-title">Financial Tool</h6>
            </div>
          </div>
      </div>
    <div class="row row-cols-1 row-cols">
        <div class="card bg-info-subtle" style="max-width: 10rem;">
            <div class="card-body text-primary">
                <h6 class="card-title">Budgeting Tips</h6>
            </div>
          </div>
        <div class="card bg-info-subtle" style="max-width: 10rem;">
            <div class="card-body text-primary">
                <h6 class="card-title">Book an Appoinment </h6>
            </div>
          </div>
      </div>
    <div class="row row-cols-1 row-cols">
        <div class="card bg-info-subtle" style="max-width: 10rem;">
            <div class="card-body text-primary">
                <h6 class="card-title">Contact Us</h6><br>
            </div>
          </div>
        <div class="card bg-info-subtle" style="max-width: 10rem;">
            <div class="card-body text-primary">
                <h6 class="card-title">Ask Adam</h6><br>
            </div>
          </div>
      </div>
  </section>
  


