<div class="jumbotron">
    <h3>Our Packages</h3>
<div class="card col-sm-5">
  <div class="card-body">
    <h5 class="card-title bg-warning">Premimer Leauge Package</h5>
    <p class="card-text">
        For up to 12 kids - $445 (incl. tax)
        <li> 2 hours field use on one field </li>
        <li> Party host/referee</li>
        <li> Use of Party Room for first two hours or Bar Area for duration of party.</li>
        <li>Decorations included</li>
    </p>
  </div>
</div>
<div class="card col-sm-5 r">
    <div class="card-body">
      <h5 class="card-title bg-warning">WORLD CUP PACKAGE</h5>
      For 18 kids max $595 (incl. tax)
        <li> 3 hours of field use on one field</li>
        <li> Party Host</li>
        <li> Use of Party Room for first two hours or Bar Area for duration of party.</li>
        <li> Better Value - Hour Long Session Blocks (Not 45 Minutes)</li>
        <li> Decorations included</li>
    </div>
  </div>
</div>

<div>
    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="">
            <img src="https://i.pinimg.com/736x/25/fb/91/25fb91c3dc6dd35b958d0747a9471d79.jpg" alt="Cinque Terre" width="600" height="400">
          </a>
        </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTENhhoa-OY8iRcr4vTGB0zTfhv89ypYMgFLw&usqp=CAU" alt="Cinque Terre" width="400" height="400">
          </a>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReavNJ18FZ9kAofFVGLaQQMbBzTHk-DFCkFg&usqp=CAU" alt="Cinque Terre" width="600" height="400">
          </a>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="">
            <img src="http://cdn.shopify.com/s/files/1/0115/4056/1978/articles/two-fast_horizontal_blog_241afeab-a4af-45ae-8d64-de010a32d830_grande.jpg?v=1587456393" alt="Cinque Terre" width="400" height="400">
          </a>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="">
            <img src="https://i.pinimg.com/736x/25/fb/91/25fb91c3dc6dd35b958d0747a9471d79.jpg" alt="Cinque Terre" width="300" height="300">
          </a>
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTENhhoa-OY8iRcr4vTGB0zTfhv89ypYMgFLw&usqp=CAU" alt="Cinque Terre" width="300" height="400">
          </a>
        </div>
      </div>
</div>
<div class="rm">
<h1 class="text-warning" style="text-align:center ;">Why Choose Us</h1>
<div class="Chose d-flex">
    <img src="https://cdn-icons-png.flaticon.com/512/6061/6061431.png" alt="" width="100">
    <img src="https://cdn-icons-png.flaticon.com/512/1530/1530297.png" alt="" width="100">
    <img src="https://cdn-icons-png.flaticon.com/512/4927/4927896.png" alt="" width="100" >
    <img src="https://cdn-icons-png.flaticon.com/512/708/708949.png" alt="" width="100">
</div>
</div>