<div class="card">
  <div class="card-body">
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>Name</th>
            <th>COUNTRY</th>
            <th>USAGE</th>
            <th>PAYMENT METHODE</th>
            <th>ACTIVITY</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img
                    src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                    alt=""
                    style="width: 45px; height: 45px"
                    class="rounded-circle"
                    />
                <div class="ms-3">
                  <p class="fw-bold mb-1">John Doe</p>
                  <p class="text-muted mb-0">john.doe@gmail.com</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1"><i class="fa fa-flag-usa" aria-hidden="true"></i></p>
            </td>
            <td>
                <h6>50%</h6>
                <div class="progress" style="height: 5px; width: 100%">
                    <div class="progress-bar " role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
            </td>
            <td><img src="https://cdn.icon-icons.com/icons2/1178/PNG/128/visa_82066.png" alt="" width="20%"></td>
            <td>
              <p>Last Login</p>
             <h5>1 minute ago</h5>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img
                    src="https://mdbootstrap.com/img/new/avatars/6.jpg"
                    class="rounded-circle"
                    alt=""
                    style="width: 45px; height: 45px"
                    />
                <div class="ms-3">
                  <p class="fw-bold mb-1">Alex Ray</p>
                  <p class="text-muted mb-0">alex.ray@gmail.com</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1"><i class="fa fa-flag-usa" aria-hidden="true"></i></p>
            </td>
            <td>
                <h6>50%</h6>
                <div class="progress" style="height: 5px; width: 100%">
                    <div class="progress-bar " role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
            </td>
            <td><img src="https://cdn.icon-icons.com/icons2/674/PNG/128/bitcoin_icon-icons.com_60538.png" alt="" width="15%"></td>
            <td>
              <p>Last Login</p>
              <h5>5 minutes ago</h5>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img
                    src="https://mdbootstrap.com/img/new/avatars/14.jpg"
                    class="rounded-circle"
                    alt=""
                    style="width: 45px; height: 45px"
                    />
                <div class="ms-3">
                  <p class="fw-bold mb-1">Kate Huningtonsd</p>
                  <p class="text-muted mb-0">kate.hunington@gmail.com</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1"><i class="fa fa-flag-usa" aria-hidden="true"></i></p>
            </td>
            <td>
                <h6>50%</h6>
                <div class="progress" style="height: 5px; width: 100%">
                    <div class="progress-bar " role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
            </td>
            <td><img src="https://cdn.icon-icons.com/icons2/1178/PNG/128/amazon_82071.png" alt="" width="20%"></td>
            <td>
              <p>Last Login</p>
              <h5>1 month ago</h5>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center r">
                <img
                    src="https://mdbootstrap.com/img/new/avatars/9.jpg"
                    class="rounded-circle"
                    alt=""
                    style="width: 45px; height: 45px"
                    />
                <div class="ms-3">
                  <p class="fw-bold mb-1">Kate Hunington</p>
                  <p class="text-muted mb-0">kate.hunington@gmail.com</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1"><i class="fa fa-flag-usa" aria-hidden="true"></i></p>
            </td>
            <td>
                <h6>50%</h6>
                <div class="progress" style="height: 5px; width: 100%">
                    <div class="progress-bar " role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
            </td>
            <td><img src="https://cdn.icon-icons.com/icons2/1178/PNG/128/paypal_82081.png" alt="" width="15%"></td>
            <td>
              <p>Last Login</p>
             <h5>Last Month</h5>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex">
                <img
                    src="https://mdbootstrap.com/img/new/avatars/11.jpg"
                    class="rounded-circle"
                    alt=""
                    style="width: 45px; height: 45px"
                    />
                <div class="ms-3">
                  <p class="fw-bold mb-1">Kate Hunington</p>
                  <p class="text-muted mb-0">kate.hunington@gmail.com</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1"><i class="fa fa-flag-usa" aria-hidden="true"></i></p>
            </td>
            <td>
                <h6>50%</h6>
                <div class="progress" style="height: 5px; width: 100%">
                    <div class="progress-bar " role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
            </td>
            <td><img src="https://cdn.icon-icons.com/icons2/674/PNG/128/Mastercard_icon-icons.com_60554.png" alt="" width="15%"></td>
            <td>
              <p>Last Login</p>
             <h5>Last week</h5>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img
                    src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                    class="rounded-circle"
                    alt=""
                    style="width: 45px; height: 45px"
                    />
                <div class="ms-3">
                  <p class="fw-bold mb-1">Kate Hunington</p>
                  <p class="text-muted mb-0">kate.hunington@gmail.com</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1"><i class="fa fa-flag-usa" aria-hidden="true"></i></p>
            </td>
            <td>
                <h6>70%</h6>
                <div class="progress" style="height: 5px; width: 100%;">
                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
            </td>
            <td><img src="https://cdn.icon-icons.com/icons2/674/PNG/128/Mastercard_icon-icons.com_60554.png" alt="" width="15%"></td>
            <td>
             <p>Last Login</p>
             <h5>Yesterday</h5>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>