h5{
    font-size: 1.5rem;
}
.bg{
    background-color: rgb(50, 31, 219);
}
small{
    font-size: 18px;
    color: rgb(171, 175, 196);
}
.card{
    width: 100%;
    margin: 10px;
}
.row{
    padding: 20px;
justify-content: space-around;
}
.r{
    font-size: 2rem;
    writing-mode: vertical-rl;
    margin-inline-start: -400px;
    margin-left: 13rem;
    color: aliceblue;
}
.r1{
    font-size: 2rem;
    writing-mode: vertical-rl;
    margin-inline-start: -500px;
    margin-left: 13rem;
    color: aliceblue;
}
