<div class="row">
  <div class="card text-white bg mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">26k <small><span>(12.4% <img src="https://www.svgrepo.com/show/173137/down-arrow.svg" alt="" width="6%"> )</span></small></h5>
      <p class="card-text">User</p>
      <canvas #lineCanvas style="height:25vh; width:25vw"></canvas>
      <a class="btn d-flex"><small class="r">...</small></a>
    </div>
    </div>
    <!-- card2 -->
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">$6.100<small><span>(32.4% <img src="https://www.svgrepo.com/show/173137/down-arrow.svg" alt="" width="6%"> )</span></small></h5>
      <p class="card-text">Income</p>
      <img src="" alt="">
      <a class="btn d-flex"><small class="r1">...</small></a>
    </div>
    </div>
    <!-- card3 -->
  <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">2.045<small><span>(41.4% <img src="https://www.svgrepo.com/show/173137/down-arrow.svg" alt="" width="6%"> )</span></small></h5>
      <p class="card-text">Conversion Rate</p>
      <canvas #lineCanvas style="height:25vh; width:25vw"></canvas>
      <a class="btn d-flex"><small class="r1">...</small></a>
    </div>
    </div>
    <!-- card4 -->
  <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">44k<small><span>(198.4% <img src="https://www.svgrepo.com/show/173137/down-arrow.svg" alt="" width="6%"> )</span></small></h5>
      <p class="card-text">Sessions</p>
      <canvas #lineCanvas style="height:25vh; width:25vw"></canvas>
      <a class="btn d-flex"><small class="r1">...</small></a>
    </div>
    </div>
    </div>
  <img  class="container" src="https://support.sproutsocial.com/hc/article_attachments/360071923152/Screen_Shot_2020-10-07_at_1.42.44_PM.png" alt="" width="130%">
<app-widget-brand></app-widget-brand>
<app-sales></app-sales>
<app-table></app-table>