
<div class="center mat-card bg">
    <h2 style="text-align: center;">Login</h2>
    <form >
      <div class="form-group col-6">
      <label>Enter Your Mail</label>
      <input type="email"   class="form-control" name="email" id="" [(ngModel)]="user.id">
    </div>
    <div class="form-group col-6">
      <label>Password</label>
      <input type="Password"  class="form-control" name="pwd" id="pwd"[(ngModel)]="user.Password">
    </div>
    </form>
    <div>
      <button type="submit" (click)="Validate(user.id,user.Password)" class="btn btn-primary mb-2">Confirm identity</button>
    </div>
    <div class="grid">
       <div class="col-3">
        Not a Member<a [routerLink]="['/registion-page']"><button class="btn btn-primary col-10"> Register</button></a>
       </div>
    </div>
</div>