
.center{
    margin:0;
    padding: 10%;
    justify-content: center;
    margin: 20%;
}
.bg{
    background-color: rgb(128, 125, 120);
    color:rgb(79, 23, 28);
    font-weight: bolder;
    
}
.example-form {
    min-width: 15px;
    max-width: 50px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  h2{
    color: rgb(206, 196, 255);
  }