<div class="card container r col-6">
   <div class="card-body">
      <h1>Edit File</h1>
       <p>Please fill in this form to create an account.</p>
       <hr>
      <form (ngSubmit)="Edit(user)" #regForm="ngForm" >
         <div class="col-6">
            <label>Enter You are Name</label>
            <input type="Name" name="Name" id="Name" [(ngModel)]="user.Name">
         </div>
          <div class="col-6">
            <label>Enter You are Email</label>
            <input type="email" name="email" id="email" [(ngModel)]="user.Email">
         
          </div>
         <div class="col-6">
            <label>Enter You are Password</label>
            <input type="password" name="password" id="password" [(ngModel)]="user.Password">
         
         </div>
         <div class="col-6">
            <label>Enter You are Mobile number</label>
            <input type="contact" name="contact" id="contact" [(ngModel)]="user.Contact">
         
         </div>
            <input type="submit" value="save" class="btn btn-info">
         </form>
   </div>
   </div>