img{
    width: 60px;
    border-radius: 60px;
    margin-left:6rem;
    margin-top: 4rem;
}
.card-footer{
    background-color:#fff;
    line-height: 12px;
}
h5{
    color: black;
    
}
.float-left{
    text-align: center;
    margin-left: 40px;
}
.float-right{
    text-align: center;
    margin-right: 40px;
}
.row{
margin: 10px;
justify-content: space-around;
}
.bg{
    background-color: #3b5998;
}