.row{
    padding: 9px;
}
.card-body{
    background-color: #f7f7f7;
}
h5{
    font-family: italic;
    font-size: 30px;
}
i{
    padding-left: 50px;
}
.img{
background-image: url(https://images.unsplash.com/photo-1462556791646-c201b8241a94?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMDUzMDJ8MHwxfHNlYXJjaHw3fHxibHVlfGVufDF8fHx8MTYxODk2NDcwMQ&ixlib=rb-1.2.1&q=80&w=1080);
opacity: 1;
color: #e6fff7;
padding: 35px;
}
.img2{
background-image: url(https://images.unsplash.com/photo-1616937876010-0a42ac7d98be?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMDUzMDJ8MHwxfHNlYXJjaHw2fHxoaWdod2F5JTIwbmlnaHR8ZW58MXx8fHwxNjE4OTk2NTk4&ixlib=rb-1.2.1&q=80&w=1080);
opacity: 1;
color: #e6fff7;
padding: 35px;
}