<div class="row">
	<div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">AI</h5>
                <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus quo accusantium a impedit necessitatibus pari atque sed eius vitae rerum, itaque,</p>
                <a href="#" class="btn btn-outline-primary">Get Start<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
	</div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Infrastucture</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sunt aut soluta atque sed eius vitae rerum, itaque, </p>
                <a href="#" class="btn btn-outline-primary">Get Start<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
	</div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Services</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sunt aut soluta atque sed eius vitae rerum, itaque, </p>
                <a href="#" class="btn btn-outline-primary">Get Start<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
	</div>
</div>
<div class="row">
<div class="col-sm-8">
    <div class="card">
        <div class="card-body img">
            <h5 class="card-title">Smart Grid</h5>
            <p class="card-text">Lorem ipsum dolor sit amet co aut soluta atque sed eius vitae rerum, itaque, 
                <li> amet co aut soluta atque sed eius vitae</li>
            </p>
            <a href="#" class="btn btn-primary">Get Start<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Security</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sunt aut soluta atque sed eius vitae rerum, itaque, </p>
            <a href="#" class="btn btn-outline-primary">Get Start<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Security</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sunt aut soluta atque sed eius vitae rerum, itaque, </p>
                <a href="#" class="btn btn-outline-primary">Get Start<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body img2">
                <h5 class="card-title">Fast Data Transfer</h5>
                <p class="card-text">Lorem ipsum dolor sit amet co aut soluta atque sed eius vitae rerum, itaque, 
                    <li> amet co aut soluta atque sed eius vitae</li>
                </p>
                <a href="#" class="btn btn-primary">Get Start<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
