.navbar {
    width:100%;
    background-color: rgba(9, 9, 9, 0.864);
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  .input-group{
    margin-right: 17rem;
    padding-left:-4rem;
  }
  .form-control{
    background-color: transparent;
    color: white;
  }
  .fas{
    color: aliceblue;
    padding: 10px;
  }
  .container-fluid{
    margin: 50px;
    box-sizing: boder-box;
    border: 1rem solid rgb(218, 246, 255);
    padding-bottom: 150px;
  }
  
  