<nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #3292d7;">
    <a class="navbar-brand" href="#"><img src="https://americasgotsoccer.com/assets/images/americasgotsoccer-logo-nobg.png" alt="" width="10%"></a>
    <div>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item ">
                <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/Package']" >Packeg</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/Location']">Location</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/About']">About</a>
            </li>
        </ul>
    </div>
</nav>
<app-home></app-home>
<br>
<br>
<app-packeg></app-packeg>
<app-location></app-location>
<app-about></app-about>