<p>sales works!</p>
<div class="container-fluid">
<div class="card">
<h6 class="bg-info">Traffic&Sales</h6>
<div class="row">
    <div class="border-left border-3  border-info  px-3 h-75">
    <div class="text-medium-emphasis small">New Client</div>
    <div class="fs-5"><h4>9123</h4></div>
    </div>
    
    <div class="border-left  border-danger  px-3  h-75 border-3">
        <div class="text-medium-emphasis small">New Client</div>
        <div class="fs-5"><h4>9123</h4></div>
        </div>

        <div class="border-left  border-warning  px-3  h-75 border-3">
            <div class="text-medium-emphasis small">New Client</div>
            <div class="fs-5"><h4>9123</h4></div>
            </div>
      <div class="border-left  border-info  px-3  h-75 border-3">
        <div class="text-medium-emphasis small">New Client</div>
        <div class="fs-5"><h4>9123</h4></div>
        </div>      
</div>
<hr>
<div class="m-5">
<div>
<div class="progress" style="height: 2px; width: 35%;">
    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
<div class="progress" style="height: 2px; width: 35%;">
    <div class="progress-bar bg-danger" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="progress-group mb-4">
  <span class="text-medium-emphasis small">MONDAY</span>
  </div>
  <div>
    <div class="progress" style="height: 2px; width: 35%;">
      <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress" style="height: 2px; width: 35%;">
      <div class="progress-bar bg-danger" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress-group mb-4">
      <span class="text-medium-emphasis small">TUESDAY</span>
    </div>
  </div>
  <div>
    <div class="progress" style="height: 2px; width: 35%;">
      <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress" style="height: 2px; width: 35%;">
      <div class="progress-bar bg-danger" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress-group mb-4">
      <span class="text-medium-emphasis small">WENSDAY</span>
    </div>
  </div>
  <div>
    <div class="progress" style="height: 2px; width: 35%;">
      <div class="progress-bar " role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress" style="height: 2px; width: 35%;">
      <div class="progress-bar bg-danger" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

  <div class="progress-group mb-4">
    <span class="text-medium-emphasis small">THUSEDAY</span>
    </div>
</div>
<div>
<div class="progress" style="height: 2px; width: 35%;">
    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
<div class="progress" style="height: 2px; width: 35%;">
    <div class="progress-bar- bg-danger" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="progress-group mb-4">
  <span class="text-medium-emphasis small">FRIDAY</span>
  </div>
</div>
</div>
</div>

<div class="left">
  <div>
  <div class="progress" style="height: 2px; width: 75%;">
      <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  <div class="progress" style="height: 2px; width: 75%;">
      <div class="progress-bar bg-danger" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress-group mb-4">
    <span class="text-medium-emphasis small"><i class="fa fa-user"></i></span>
    </div>
    <div>
      <div class="progress" style="height: 2px; width: 75%;">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="progress" style="height: 2px; width: 75%;">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="progress-group mb-4">
        <span class="text-medium-emphasis small"><i class="fa fa-female"></i></span>
      </div>
    </div>
    <div>
      <div class="progress" style="height: 2px; width: 75%;">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="progress" style="height: 2px; width: 75%;">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="progress-group mb-4">
        <span class="text-medium-emphasis small"><img src="https://cdn.icon-icons.com/icons2/729/PNG/128/google_icon-icons.com_62736.png" alt="" width="3%"></span>
      </div>
    </div>
    <div>
      <div class="progress" style="height: 2px; width: 75%;">
        <div class="progress-bar " role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="progress" style="height: 2px; width: 75%;">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
  
    <div class="progress-group mb-4">
      <span class="text-medium-emphasis small"><img src="https://cdn.icon-icons.com/icons2/2429/PNG/128/facebook_logo_icon_147291.png" alt="" width="3%"></span>
      </div>
  </div>
  <div>
  <div class="progress" style="height: 2px; width: 75%;">
      <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  <div class="progress" style="height: 2px; width: 75%;">
      <div class="progress-bar- bg-danger" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress-group mb-4">
    <span class="text-medium-emphasis small"><img src="https://cdn.icon-icons.com/icons2/1826/PNG/128/4202000logosocialsocialmediatweettwitter-115688_115613.png" alt="" width="3%"></span>
    </div>
  </div>
  </div>
  </div>
</div>
