.border-left{
margin-left: 2rem;
flex: 0 0 auto;
}
.row{
    justify-content: space-around;
}
.border-3{
    border-width:6px !important;

}
.mb-4 {
    margin-bottom: 1.5rem !important;
}
.progress {
    margin-left: 70px;
}
span{
 margin-left:-46px;
 justify-content: flex-start;
}
.left{
    margin-left: 40rem;
    margin-top: -20rem;
}
